<!DOCTYPE html>

<html>
<title>Simple Flask Application

</title>

<body>
    <h1>Welcome to Simple Flask Application</h1>

    <h2>Introduction</h2>
    <p>This web Application is simple Flask-based calculator that allows you to perform basic arithmetic calculations. </p>


    <h2>Getting Started</h2>
    <ol>
        <li>Enter the first number in the input field.</li>
        <li>Select the desired operation from the dropdown menu (addition, subtraction, multiplication, or division).</li>
        <li>Enter the second number in the next input field.</li>
        <li>Click on the "Calculate" button.</li>
    </ol>

    <h2>Features</h2>
    <ul>
        <li>
            <strong>Addition:</strong> The addition functionality allows you to add two numbers together. Simply enter the first number, select the addition operation, enter the second number, and click "Calculate."
        </li>
        <li>
            <strong>Subtraction:</strong> With the subtraction feature, you can subtract one number from another. Enter the first number, select the subtraction operation, enter the second number, and click "Calculate."
        </li>
        <li>
            <strong>Multiplication:</strong> For multiplication, enter the first number, select the multiplication operation, enter the second number, and click "Calculate" to obtain the result.
        </li>
        <li>
            <strong>Division:</strong> Finally, the division feature enables you to divide one number by another. Enter the first number, select the division operation, enter the second number (non-zero), and click "Calculate" to see the quotient.
        </li>
    </ul>

    <h2>Error Handling</h2>
    <p>
        To ensure accurate calculations, our calculator includes error handling for common issues:
    </p>
    <ul>
        <li>
            <strong>Division by zero:</strong> If you attempt to divide a number by zero, the calculator will display an error message, prompting you to enter a valid non-zero value for the second number.
        </li>
        <li>
            <strong>Invalid input:</strong> The calculator will check for valid numerical input in the number fields and display an error message if non-numeric characters are entered.
        </li>
    </ul>

    <h2>Goto</h2>
    <link>
    <p><a href="/calculator">Proceed to Calculator</a></p>
    </link>
   

</body>




</html>